{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title>Document</title>
</head>
<body>
    <section class="about">
        <div class="about-text">
            <h4>About Me</h4>
            <h5>Python Django <span>Developer</span></h5>
            <p>I am a Back End devoloper using<b>Python Django.</b>I make the website more interactive and accesibble to all users. <br>
            </p>
            <p>EDUCATION : Bsc in Electronics <br>University of Calicut</p>
            
            
            <button type="button">Let's Talk</button>
        </div>
     </section>
</body>
</html>
