{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="contact">
        <p>Let Me Get You A Beautiful Website.</p>
        <a  class="button-one"href=""><i class="glyphicon glyphicon-envelope"></i></a>
        <a href="https://mail.google.com/mail/">jishnamk9@gmail.com</a><br>
        <a class="button-two" href="#">Hire Me</a>
     </div>
</body>
</html>