{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <title>skills</title>
</head>
<body>
    <section class="about">
      <div class="about-text">
        <h4>SKILLS</h4><br><br>
        <h4>Python Django <span> web develepor</span></h4>
        <p>Front end :HTML, CSS, JAVA SCRIPT,</p>
        <p>Back end  :Python ,Django, </p>
        <p>Database  : sqlite3 </p>
     </div> 
    </section> 
</body>
</html>